@import '../utils/mixins';
@import '../utils/variables';

header {
    @include container;
    
    .navigation__container {
        nav {
            ul {
                display: flex;
                list-style: none;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: fixed;
                background-color: $green;
                right: -100vw;
                z-index: 1000;
                top: 0;
                padding: 0;
                margin: 0;

                &.show-nav {
                left: 0;
                bottom: 0;
                height: 100%;
                right: 0;
            }


                @include tablet {
                    flex-direction: row;
                    justify-content: flex-end;
                    background-color: transparent;
                    position:static;
                    margin: 16px 0;
                    
                }
    
                li {

                    a {
                        text-decoration: none;
                        color: $white;
                        font-weight: 500;
                        text-transform: uppercase;
                        display: block;
                        padding: 1rem;

                        @include tablet {
                            color: $green;
                            font-size: 14px;
                        }
                    }

                    @include tablet {
                        margin: 0 5px;
                    }
                }
            }

            .navbar_burger {
                width: 40px;
                height: 40px;
                z-index: 1001;
                position: absolute;
                margin: 10px;

                &:hover {
                    cursor: pointer;
                }

                @include tablet {
                    display: none;
                }

                .fa_bars {
                    font-size: 40px;
                    color: $orange;
                }
            }
        }
    }

    .cover__container {
        position: relative;
        display: flex;
        flex-direction: column;

        .background-cover {
            width: 100%;
            max-height: 500px;
            
            img {
                width: 100%;
                max-height: 500px;
                object-fit: cover;
            }
        }

        .title {
            background: $white;
            width: 100%;
            position: absolute;
            bottom: 0;
            padding: 20px 0;
            display: flex;
            flex-direction: column;
            align-items: center;

            @include phablet {
                width: 70%;
                display: block;
            }

            @include tablet {
                padding: 25px 15px 25px 0;
            }

            @include laptop_xl {
                width: 65%;
            }

            span {
                font-size: 5vw;
                font-weight: 100;

                @include phablet {
                    font-size: 3.5vw;
                }

                @include laptop_xl {
                    font-size: 3vw;
                }

                @include desktop {
                    font-size: 35px;
                }
            }
        }
    }
}