@import '../utils/variables';
@import '../utils/mixins';

.layout__card {
    background-color:  $lightgrey;
    padding: 25px;

    .container {
        @include container;
        @include phablet {
            display: flex;
            flex-direction: column;
        }
        .cards {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 50px;
            margin: 40px 0;

            @include phablet {
                width: 70%;
                align-self: center;
            }
    
            @include tablet {
                grid-template-columns: 1fr 1fr 1fr;
                width: 100%;
            }
        }
    }
}