@import '../utils/variables';
@import '../utils/mixins';

.picto_content {
    display: flex;
    margin: 10px 0;
    flex-direction: column;
    align-items: center;

    @include phablet {
        flex-direction: row;
        justify-content: center;
        margin: 15px 0;
    }
    

    .img_picto {
        width: 10%;
        border: 2px solid $green;
        border-radius: 30px;
        padding: 10px 10px 6px;
        vertical-align: middle;

        @include phablet {
            width: 5%;
        }

        img {
            width: 100%;
        }
    }

    .info_picto {
        margin: 10px;
    }
}