@import '../utils/variables';
@import '../utils/mixins';

article {

    a {
        text-decoration: none;
        color: $black;

        img {
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }

        .card__item {
            filter: drop-shadow(0px 3px 15px grey);
            background-color: $lightgrey;
            border-radius: 20px;

            @include laptop_xl {
                height: 500px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            .cover__container {
                max-height: 200px;

                @include tablet {
                    max-height: 158px;
                }

                @include laptop {
                    max-height: 165px;
                }

                @include desktop {
                    max-height: 200px;
                }

                img {
                    max-height: 200px;
                    width: 100%;
                    object-fit: cover;

                    @include tablet {
                        max-height: 158px;
                    }
    
                    @include laptop {
                        max-height: 165px;
                    }
    
                    @include desktop {
                        max-height: 200px;
                    }    
                }
            }

            .txt__container {
                display: flex;
                flex-direction: column;
                align-items: stretch;
                padding: 15px;

                @include phablet {
                    padding: 20px 25px;
                }

                h3 {
                    font-size: 6vw;
                    text-align: center;
                    margin-bottom: 15px;

                    @include phablet {
                        margin-bottom: 20px;
                        font-size: 4.5vw;
                    }

                    @include tablet {
                        font-size: 3vw;
                    }

                    @include laptop {
                        font-size: 2.5vw;
                    }

                    @include laptop_xl {
                        font-size: 2vw;
                    }

                    @include desktop {
                        font-size: 28px;
                    }
                }

                span {
                    text-align: center;
                }
            }
        }
    }
}